.testimotionals {
  margin-top: 50px;
}

.testimotionals .card {
  margin-top: 40px;
  overflow: hidden;
  background: #ecfcfc;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}
.testimotionals .card .layer {
  z-index: 1;
  position: absolute;
  top: calc(100% - 5px);
  height: 100%;
  width: 100%;
  left: 0;
  background: #4d2f5f;
  transition: 0.5s;
}

.testimotionals .card .content {
  z-index: 2;
  position: relative;
}
.testimotionals .card .content h2 {
  text-align: center;
  font-family: "Ribeye Marrow", cursive;
}
.testimotionals .card .content p {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.075em;
  color: grey;
  font-family: "Indie Flower", cursive;
}

.testimotionals .card:hover .layer {
  top: 0;
}
.testimotionals .card:hover h2 {
  color: white;
}
.testimotionals .card:hover p {
  color: #fff10a;
}
.button-cont{
 display: flex;
 flex-direction: row;
}
/* Buttons */

button {
  background: transparent;
  border-width: 2px;
  border-style: solid;
  position: relative;
  /* margin: 0.5em 0em; */
  display: inline-block;
  padding: 0.4em 0.3em;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.pink button:before,
.pink button:after,
.blue button:before,
.blue button:after {
  content: "";
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}
.pink button:before,
.blue button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
.pink button:after,
.blue button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.pink button:hover:before,
.pink button:hover:after,
.blue button:hover:before,
.blue button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff;
}

.pink {
  color: #eb1777;
  border-color: #eb1777;
}
.pink button:before,
.pink button:after {
  border-color: #eb1777;
}
.pink button:hover:before,
.pink button:hover:after {
  border-color: #eb1777;
}
.pink button:hover {
  color: #fff;
  background-color: #eb1777;
  border-color: #eb1777;
}

.blue button {
  color: #3bb4e5;
  border-color: #3bb4e5;
}
.blue button:before,
.blue button:after {
  border-color: #3bb4e5;
}
.blue button:hover:before,
.blue button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #3bb4e5;
  transform: rotateY(180deg);
}
.blue :hover {
  color: #3bb4e5;
  background-color: transparent;
  border-color: #3bb4e5;
}
